@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;900&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

:root {
  --bg-main: #FDF8F8;
  --bg-nude: #EFE9E5;
  --brand-pink: #C38B94;
}

html, body, #root {
  height: 100%;
  background-color: var(--bg-main);
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

/* Ajuste para a letra não ficar "curta" */
h1, h2, h3 {
  letter-spacing: -0.02em;
  line-height: 1.1;
}